body {
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: darkgoldenrod;
    font-size: large;
    font-family: "Segoe UI";
}